@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
  --bg-color: #f5f5f5;
  --text-color: #480961;
  --text-secondary: #7d2291;
  --border-color: #dddddd;
  --primary-color: #904caf;
  --primary-text: white;
  --shadow-color: rgba(94, 17, 118, 0.509);
}

body {
  font-family: 'Google Sans', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 15px var(--shadow-color);
}

th,
td {
  padding: 10px 15px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

th:last-child,
td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

th {
  background-color: var(--primary-color);
  color: var(--primary-text);
}

h2 {
  font-size: 1.5em;
  color: var(--text-secondary);
}
